section{
	position:relative;
}


.hero{

	background:url(/assets/background.png) no-repeat left;
	background-size:cover;
	margin: 0;
	padding:0;
	height: 100vh;

}

div.social{
	position:absolute;
	top:350px;
	left:100px;
	// background-color:green;

	ul{
		li{
			background: url('assets/facebook.png') no-repeat;
			position:relative;
			width:100px;
			height:50px;
			list-style:none;
			margin:10px 0;
		}
	}
}