.container{
	margin:0 100px;
}

.col-60{
	// border-box:box-sizing;

	@media (min-width: 550px) {
		width:calc(60% - 60px);
		margin:0 30px;
		float:left;		
	}
}

.col-2{
	// border-box:box-sizing;

	@media (min-width: 550px) {
		width:calc(50% - 60px);
		margin:0 30px;
		float:left;		
	}
}

.group-1{
	position:absolute;
}

.img-card{
	position:relative;

}

// intro 
section.intro{
	display:block;
	position:relative;
	overflow:auto;
	height:100%;
	
	.col-2{
		
	}
	.graph{
		position:absolute;
		bottom:0;
		right:0;

	}

	hr{
		margin:0 0 20px 0;
	}
}
// Gallery section
.gallery{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;

	margin:30px 0 0 0;
	
	@media (min-width: 550px) {
		flex-direction: row;

	}


	.card{
		flex: 1;
		max-width:250px;
		flex-direction: column;


		.img-wrapper{
				
			max-width:220px;

			width:150px;
			height:150px;
			border-radius:50%;
			background:url("/assets/shoes-1.jpg") no-repeat center;
			background-size: 150px 150px; 

			padding:0 0;
			margin:0 auto;
			}
		
		.card-info{
			text-align:center;
			padding:0;
			margin:0 10px;

			h4{
				margin:15px 0;
			}
		}	

		@media (min-width: 550px) {
			width:calc(25%-70px);
			margin:0 10px;
			max-width:100%;
			
		

		}
		}
}