
@media (min-width: 550px) {
	width:calc(25%-70px);
	margin:0 10px;
	max-width:100%;

	nav{
	position:relative;

	.logo{
		
		left:0;
		position:absolute;
		width:150px;
		background-color:green;
	}

	.main-nav{	
		position:absolute;
		top:0;
		background-color:red;
		width:100%;	

		ul{
			background-color:red;
			list-style:none;

			li{
				display:inline-block;
				width:10%;
				height:50px;
				line-height:50px;
			}
		}
	}

	}	
	 
}