
@media (min-width: 550px) {
	width:calc(25%-70px);
	margin:0 10px;
	max-width:100%;

	nav{
	position:relative;

	.logo{
		
		position:absolute;
		left:60px;
		top:20px;
		width:150px;
		height:100px;
		background: url('/assets/logo.png') no-repeat;
		z-index:100;
		display:block;
	}

	.main-nav{	
		position:absolute;
		top:70px;
		left:60px;
		// background-color:red;
		width:100%;	

		ul{
			// background-color:red;
			list-style:none;
			margin:0;
			padding:20px 0 0 0;

			li{
				display:inline-block;
				width:5%;
				height:50px;
				line-height:50px;

				a{
				color:green;

				}		
				a:hover{
					color:purple;
				}
			}
		}
	}

	}	
	 
}